*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: space-between;
}

body{
    font-size: 16px;
}

.fondo{
    position: absolute;
    height: 100vh;
}

.textos{
    padding-left: 150px;
}

.portada{
    height: 100vh;
    width: 78.8vh;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.centro{
    display: block;
    margin: auto;
    transform: translateX(-120px);
}

.logo{
    display: block;
    transform: translateY(-90px);
}

path{
    background-color: hsl(0, 93%, 68%);
}

p{
    color: hsl(0, 93%, 68%);
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 25px;
    font-weight: 400;
    
}

.soft-red{
    color: hsl(0, 36%, 70%);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 25px;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 10px;
    color: hsl(0, 6%, 24%);
}

input{
    font-family: 'Josefin Sans', sans-serif;
    width: 425px;
    height: 50px;
    border-radius: 25px;
    padding-left: 25px;
    border:1px solid hsl(0, 36%, 70%);
    color: hsl(0, 36%, 70%);
}

input::placeholder{
    color: hsl(0, 36%, 70%);
}

.flecha{
    background-color:hsl(0deg 90.62% 79.27%);
    width: 80px;
    height: 50px;
    display: flex;
    place-items: center;
    justify-content: center;
    border-radius: 25px;
    position: relative;
    right: 80px;
    cursor: pointer;
    border: none;
}

.flecha:hover{
    box-shadow: 0px 25px 30px hsl(0, 36%, 70%);
}

ul{
    display: flex;
}

li{
    list-style: none;
}